@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --main-bg-color: #0b64efd9;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
    align-items: centre;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0 25px;

}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover { 
    font-weight: bolder;
}

.search {
    display: flex;
    align-items: center;
    width: 600px;
    
}
.search input{
    width: 423px;
    height: 33px;
    border-radius: 5px;
    margin: 0 16px 0 20px;
    padding: 0 12px;
}
.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.slider{
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}
.card{
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
}
.cards{
    display: flex; 
    overflow: hidden;
    margin: 0 15px;
    /* justify-content: center; */
}
.class-items{
    display: flex;
    justify-content: center;
    flex-direction:column ;
    margin: 0 20px;
    
}
.lines {
    width: 8vw;
}
.card h2{
    font-family: 'Lato', sans-serif;

}
.container {
    min-height: calc(100vh - 58px - 12vh);
}


footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}