@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
.flexall-centre{
    text-align: center;
}
.btn{
    padding: 5px 10px;
    color: white;
    background-color: var(--main-bg-color);
    border: 2px solid rgb(247, 240, 240);
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
.my-1{
    margin: 5px 0;
}
.my-2{
    margin: 26px 0;
}
.text-centre{
    text-align:center;
}